@charset "UTF-8";

/*  Background */
$cbg-header: #252831;
$cbg-content: #f3f3f3;
$cbg-footer: #444;
$cbg-map: #ccc;
$cbg-filter: #3397db;
$cbg-select: #fff;
$cbg-list-li: #fff;
$cbg-img: #ccc;
$cbg-cuisine: #000;
$cbg-review: #000;

/* Font */
$cf-footer: #fff;
$cf-reviews: #666;

/* Link */
$cl-header: #fff;
$cl-content: #f3f3f3;
$cl-generic: #f18200;
$cl-generic-hover: #3397db;
$cl-bc: #0275d8;
$cl-bc-hover: #01447e;

/* Headings */
$ch-filter: #fff;
$ch-title-list: #f18200;

/* Border */
$cb-select: #fff;
$cb-title-list: #444;
$cb-separator: #444;

/* Paragraph */
$cp-cuisine: #eee;
$cp-review: #fff;
$cp-rating: #f18200;
