@charset "UTF-8";

/*  Background */
$cbg-header: #252831;
$cbg-content: #f3f3f3;
$cbg-footer: #444;
$cbg-map: #ccc;
$cbg-filter: #993299;
$cbg-select: #fff;
$cbg-list-li: #fff;
$cbg-img: #ccc;
$cbg-cuisine: #000;
$cbg-review: #000;
$cbg-detail: #fff;

/* Font */
$cf-skip: #fff;
$cf-hours: #222;
$cf-reviews:#222;
$cf-p: #222;
$cf-date: #666;
$cf-footer: #d8b2d8;

/* Link */
$cl-header: #fff;
$cl-content: #f3f3f3;
$cl-generic: #993299;
$cl-generic-hover: #800080;
$cl-bc: #800080;
$cl-bc-hover: #000;
$cl-footer: #fff;
$cl-footer-hover: #b266b2;

/* Headings */
$ch-filter: #fff;
$ch-title-list: #993299;

/* Border */
$cb-select: #fff;
$cb-title-list: #444;
$cb-separator: #444;
$cb-select-form: #993299;

/* Paragraph */
$cp-cuisine: #eee;
$cp-review: #fff;
$cp-rating: #993299;

/* Images */
$ci-favorite: #993299;

/* Alerts */
$cabc-success: #c3e6cb;
$cabg-success: #d4edda;
$cac-success: #155724;
$cabc-alert: #f5c6cb;
$cabg-alert: #f8d7da;
$cac-alert: #721c24;
