@charset "UTF-8";

/* ====================== Grid css basic structure ====================== */

body {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
	grid-template-rows: 80px 1fr 65px;
  grid-gap: 0;
	grid-template-areas: "header"
	                     "main"
	                     "footer";
  font-family:$f-default;
  min-height: 100vh;
  margin:0;
  font-size: 1.2em;
  background-color: $cbg-content;
}

header {
  grid-area: header;
  background-color: $cbg-header;
}

main {
  grid-area: main;
  background-color: $cbg-content;
}

footer {
  grid-area: footer;
  background-color: $cbg-footer;
}

a,
a:hover,
a:visited,
a:link,
a:focus {
  text-decoration: none;
}

/* ====================== Skip link ====================== */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  color: $cf-skip;
  padding: 8px;
  z-index: 100;
  border-bottom-right-radius: 8px;
}

.skip-link:focus {
  top: 0;
}


/* ====================== Navigation ====================== */
.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  h1 {
    text-align: center;
    a {
      color: $cl-header;
      font-size: 1em;
      letter-spacing: 0.45em;
      font-weight: 200;
      text-transform: uppercase;
    }
  }
}

/* ====================== Map ====================== */
#static-map,
#map {
  display: flex;
  height: 400px;
  background-color: transparent;
}
#map {
  display: none;
  background-color: $cbg-map;
}

/* ====================== Footer ====================== */
footer {
  padding: 0.625em 0.2em;
  span {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: $cf-footer;
    font-size: 0.750em;
    letter-spacing: 0.1em;
    height: 100%;
    strong {
      padding: 0.625em;
      line-height: 2em;
    }
    a,
    a:visited,
    a:link {
      color: $cl-footer;
      text-decoration: underline;
    }
    a:hover,
    a:focus {
      color: $cl-footer-hover;
      text-decoration: underline;
    }
  }
}

/* ====================== Favorite image ====================== */
.favorite {
  background-color: transparent;
  cursor:pointer;
  &:focus,
  &:hover {
    text-decoration: none;
    background-color: transparent;
  }
  .svg-fav {
    height: 35px;
    width: 35px;
    .path-fav {
      fill: $ci-favorite;
      &:hover {
        fill:darken($cl-generic, 10%);
      }
    }
  }
}
